In [7]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
#index levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [4]:
inside

[1, 2, 3, 1, 2, 3]

In [5]:
hier_index

MultiIndex(levels=[[u'G1', u'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [8]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [9]:
df

             A         B
G1 1 -0.179010  0.541538
   2 -0.158171  1.644162
   3 -0.670099 -0.932537
G2 1 -0.209415 -1.091765
   2  0.184705  1.184927
   3  0.766929  0.768018

In [11]:
df.loc['G1'].loc[1]

A   -0.179010
B    0.541538
Name: 1, dtype: float64

In [12]:
df.index.names

FrozenList([None, None])

In [13]:
df.index.names = ['Groups','Num']

In [14]:
df

                   A         B
Groups Num
G1     1   -0.179010  0.541538
       2   -0.158171  1.644162
       3   -0.670099 -0.932537
G2     1   -0.209415 -1.091765
       2    0.184705  1.184927
       3    0.766929  0.768018

In [16]:
df.loc['G2'].loc[2]['B']

1.1849269370206605

In [17]:
df.loc['G2'].loc[2].loc['B']

1.1849269370206605

In [18]:
df

                   A         B
Groups Num
G1     1   -0.179010  0.541538
       2   -0.158171  1.644162
       3   -0.670099 -0.932537
G2     1   -0.209415 -1.091765
       2    0.184705  1.184927
       3    0.766929  0.768018

In [20]:
df.xs('G1')

            A         B
Num
1   -0.179010  0.541538
2   -0.158171  1.644162
3   -0.670099 -0.932537

In [22]:
df.xs(1,level='Num')

               A         B
Groups
G1     -0.179010  0.541538
G2     -0.209415 -1.091765